:root {

    /*Background Color*/
    --clr-body-bg: hsl(207, 13%, 34%);

    /*Gradient Color (Hero/CTA mobile navigation*/ 
    --gradient-light-red: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    
    /*Gradient Color (Background)*/ 
    --gradient-dark-gray-blue: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));    

    /*Hero Colors*/    
    --clr-hero-cta-text-primary: hsl(356, 100%, 66%);
    --clr-hero-cta-secondary: hsl(355, 100%, 74%);

    /*Body Text Colors Color*/    
    --clr-heading-primary:  hsl(208, 49%, 24%);
    --clr-text: hsl(0, 0%, 100%);

    /*Footer*/
    --clr-footer-bg: hsl(240, 10%, 16%);
    --clr-footer-text: hsl(240, 2%, 79%);

    --ff-Overpass: 'Overpass', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;

    --outline: 1px solid green;
}


body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.intro-container {
    position: relative;
    border-radius: 0px 0px 0px 100px;
    width: 100%;
    height: 470px;
    background-image: var(--gradient-light-red);
    overflow: hidden;
}

.intro-bg-pattern {
    top: 60%;
    left: 50%;
    object-fit: cover;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 1300px;
    height: 1300px;
}

.intro-navigation-container {
    width: 100%;
}

.svg-el {
    stroke: white;
    z-index: 10000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-right: 2em;
    margin-left: 3em;
}

.navigation-logo {
    z-index: 1;
}

.dropdown-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
    z-index: 1;
}

#open-svg {
    text-align: center;
    margin: 0;
    padding: 0;
}

#close-svg {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.dropdown-relative {
    display: grid;
    place-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dropdown-box {
    display: none;
    place-items: center;
    text-align: center;
    background-color: white;
    width: 300px;
    padding-block: 2em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}


.dropdown-list {
    width: fit-content;
    display: grid;
    gap: 1.5em;
    list-style-type: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

.drop-el {
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: var(--ff-Overpass);
    font-weight: 600;
    color: var(--clr-heading-primary);
    cursor: pointer;
}

.connect-box {
    display: grid;
    gap: 1.2em;
    background-color: #eee;
    padding-block: 1.5em;
    padding-inline: 5.5em;
    border-radius: 5px;

}

.drop-hr {
    width: 100%;
    background-color:gray;
    height: 0.1px;
    opacity: 25%;
}

.connect-el {
    font-size: 16px;
    font-family:var(--ff-Overpass);
    font-weight: 600;
    color:var(--clr-heading-primary);
    opacity: 0.9;
}

.dropdown-registration {
    display: grid;
    gap: 1em;
    margin-top: 10px;
}

.signup-box button {
    background-image: var(--gradient-light-red);
    padding-block: 10px;
    padding-inline: 30px;
    border-radius: 150px;
    color: white;
}

.hero-container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 2em;
}

.hero-heading {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-header {
    width: 235px;
    margin: 0;
    padding: 0;
    font-family: var(--ff-Overpass);
    font-size: 25px;
    font-weight: 600;
}

.hero-paragraph {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-text {
    width: 250px;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    font-family: var(--ff-Overpass);
    font-size: 15px;
}

.hero-cta-container {
    z-index: 1;
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.hero-cta1 {
    border-radius: 150px;
    padding-block: 1em;
    padding-inline: 1.2em;
    background-color: white;
    color:var(--clr-hero-cta-text-primary);
    font-family:var(--ff-Ubuntu);
    font-size: 10px;
    font-weight: 600;
}

.hero-cta2 {
    border-radius: 150px;
    padding-block: 1em;
    padding-inline: 1.2em;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family:var(--ff-Ubuntu);
    font-size: 10px;
    font-weight: 600;
}



.section2 {
    display: grid;
    place-items: center;
    width: 100%;
    margin-block: 5em;
}

.sec2-title {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color:var(--clr-heading-primary);
    font-family: var(--ff-Overpass);
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.sec2-image-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    margin-block: 2em;
}

.sec2-image-wrapper img {
    width: 380px;
    height: 300px;
}

.title2 {
    text-align: center;
    width: 290px;
    margin: 0;
    padding: 0;
}

.sec2-text {
    text-align: center;
    opacity: 0.9;
    color: var(--clr-heading-primary);
    font-family:var(--ff-Overpass);
    font-size: 15px;
    font-weight: 500;
    width: 280px;
    padding: 0;
    margin: 0;
}

.title3 {
    text-align: center;
    width: 330px;
    margin: 0;
    padding: 0;
}


.section3 {
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 14em;
    position: relative;
}

.sec-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    background-image: var(--gradient-dark-gray-blue);
    height: 500px;
    border-radius: 0px 100px 0px 100px;
}

.sec3-content-wrapper {
    display: grid;
    place-items: center;
    position: relative;
}

.sec3-circle-pattern img {
    top: -75%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 600px;
}

.sec3-phones img {
    top: 0%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: 1;
}

.sec3-overlay-content {
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

.sec3-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sec3-header {
    text-align: center;
    width: 250px;
    color: white;
    font-family: var(--ff-Overpass);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.sec3-text {
    display: grid;
    justify-content: center;
    place-items: center;
    text-align: center;
    line-height: 1.5em;
}

.sec3-p {
    word-spacing: 3px;
    text-align: center;
    opacity: 0.9;
    color: white;
    font-family:var(--ff-Overpass);
    font-size: 15px;
    width: 300px;
}

.section4 {
    margin-block: 4em;
    width: 100%;
    display: grid;
    place-items: center;
}

.sec4-laptop {
    display: grid;
    place-items: center;
    width: 100%;
}

.sec4-laptop img {
    object-fit: cover;
    width: 350px;
    height: 350px;
}

.sec4-content-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: var(--clr-heading-primary);
    font-family: var(--ff-Overpass);
}

.sec4-heading {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sec4-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
}

.sec4-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sec4-p {
    width: 270px;
    font-size: 15px;
}


footer {
    width: 100%;
    display: grid;
    justify-content: center;
    place-items: center;
    position: absolute;
    margin: 0;
    background-color: hsl(236, 17%, 18%);
    border-radius: 0px 100px 0px 0px;
    color: white;
    font-family: var(--ff-Overpass);
}

.footer-content-container {
    display: grid;
    text-align: center;
    gap: 2em;
    margin: 2em;
}

.footer-logo {
    margin-block: 1.5em;
}

.footer-column {
    display: grid;
    place-items: center;
    gap: 1.5em;
}

.footer-label {
    opacity: 0.9;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: var(--ff-Ubuntu);
}

.footer-links {
    display: grid;
    place-items: center;
    gap: 7px;
}

.footer-links a {
    opacity: 0.8;
    text-decoration: none;
    color: white;
}


@media screen and (min-width: 625px){

 .intro-navigation-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .navigation {
    padding: 0;
    padding-top: 2em;
    z-index: 1;
 }

 .dropdown-relative {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: none;
    left: 2em;
 }

 .dropdown-btn {
    display: none;
}

.dropdown-box {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 30em;
}

.dropdown-list {
    min-width: 280px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-el {
    font-size: 15px;
    color: white;
    font-family: var(--ff-Ubuntu);
}

.connect-box {
    display: none;
}

.drop-hr {
    display: none;
}

.dropdown-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.signup-box button {
    background-image: none;
    background-color: white;
    color: var(--clr-hero-cta-text-primary);
    font-family: var(--ff-Ubuntu);
    text-align: center;
    white-space: nowrap;
}

.hero-container {
    margin-top: 6em;
}

.hero-header {
    width: 100%;
    font-size: 50px;
}

.hero-text {
    margin-top: 8px;
    width: 100%;
    font-size: 18px;
}

.hero-cta-container > * {
    font-size: 15px;
}

.footer-content-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2em;
    gap: 12em;
}

.footer-logo {
    margin: 0;
}

.footer-column {
    margin-top: 1em;
    display: grid;
    place-items: flex-start;
    text-align: left;
    width: 100px;
}

.footer-links {
    padding: 0;
    margin: 0;
    display: grid;
    place-items: flex-start;
}
}